.about-us-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-upper {
  display: flex;
  width: 85%;
  margin-top: 2.5rem;
  margin-bottom: 7rem;
}
.upper-left {
  width: 40%;
}
.upper-img {
  width: 350px;
  height: 350px;
}
.upper-right {
  width: 60%;
}
.upper-title {
  margin-top: 3rem;
  font-size: 40px;
  font-weight: bold;
}
.upper-text {
  font-size: 20px;
  line-height: 40px;
}
.about-lower {
  display: flex;
  width: 85%;
  margin-bottom: 2rem;
}
.lower-left {
  width: 60%;
}
.lower-img {
  width: 400px;
  height: 415px;
}
.lower-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.lower-text {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 1rem;
}
