.Consultant-options{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}
.Consultant-upper{
    display: flex;
    justify-content: space-between;
}
.Consultants.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
}