.Auth{
    width: 80%;
    margin: 1rem auto;
    background-color: rgba(10, 69, 112, 0.6);
    border-radius: 20px;
    display: flex;
    /* padding: 30px 0; */
}
.Auth-left{
    width: 50%;
    background: radial-gradient(circle at center, rgba(10, 69, 112, 0.6), rgba(255,255,255,0.7)); 
    height: 100%;
    padding: 30px 0;
    border-radius: 20px 40px 40px 20px;
    display: flex;
    justify-content: center;
}
.Auth-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Auth-img{
    width: 350px;
    height: 500px;
}
.Auth-form{
    background-color: #f1f1f1;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    
}
.Auth-buttons{
    display: flex;
    justify-content: center;
    width: 90%;
   
}
.Auth-button{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
}