.Chat-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.Chat {
  display: flex;
  flex-direction: column;
  height: 72vh;
  width: 100%;
}

.Chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 25%;
  width: 75%;
  z-index: 10;
}

.Chat-input input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 90%;
  background-color: rgba(217, 217, 217, 0.77);
}

.Chat-input button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #0a4570;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.Chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  width: fit-content;
  max-width: 60%;
}

.Chat-message.sent {
  align-self: flex-end;
  background-color: rgba(196, 27, 64, 0.3);
}

.Chat-message.received {
  align-self: flex-start;
  background-color: rgba(10, 69, 112, 0.8);
  color: white;
}

.Chat-sidebar {
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.Chat-sidebar-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.Chat-sidebar-item:hover {
  background-color: #e0e0e0;
}
@media (max-width: 800px) {
  .Chat-input input {
    width: 80%;
  }
  .Chat {
    height: 90vh;
  }
}
