.journals-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  border-radius: 20px;
}
.journals-input {
  border: none;
  background-color: rgba(217, 217, 217, 0.44);
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.journals-label {
  margin-bottom: 0.25rem;
}
.journals-button-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.journals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: 1.5rem 0;
  align-items: center;
}
.journals-title {
  font-size: 30px;
  font-weight: bolder;
}
.journals-title {
  color: #c41b40;
  margin: auto;
  font-size: 1.5rem;
}
.journal-button {
  background-color: #0a4570;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
