.journals {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.journals-text {
  align-self: flex-start;
  font-size: 1rem;
}
.journals-button {
  align-self: flex-end;
  width: 20%;
  background-color: #0a4570;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
}
.journals-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 85%;
  margin: 2rem auto;
}

.journal-item {
  background-color: rgba(10, 69, 112, 0.8);
  border-radius: 20px;
  height: 8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
}

.journal-card-text {
  color: white;
  font-size: 0.9rem;
}
.no-journals-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.no-journals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: grey;
  text-align: center;
}

.no-journals-icon {
  font-size: 8rem;
}
.date-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 800px) {
  .journals-button {
    width: 30%;
  }
}