.filled-button {
    background-color: #C41B40;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 35%;
    font-size: 1.25rem;
}

.filled-button:hover {
    background-color: #8e0f2b; 
}
